.footer-container {
  background-color: #1c2237;
  padding: 4rem 0 2rem 0;
  padding-top: 2rem;
}
.item-address {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 25px;
}

.footer-item-description {
  margin-left: 10px;
}

.footer-info-items {
  margin-left: 255px;
  margin-right: 255px;
  margin-top: 0px;
  color: white;
}

.footer-container-wrap {
  padding-top: 0;
}

.website-rights {
  position: absolute;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .item-address {
    width: 100%;
  }

  .footer-info-items {
    margin: 0;
    color: white;
    width: 100%;
  }
  .website-rights {
    margin-top: 15px;
  }
}

@media screen and (max-width: 520px) {
  .website-rights {
    font-size: 14px;
  }
}
