.about-section {
  padding: 220px 0;
  margin-top: 130px;
  background: black;
  padding-top: 50px;
}

.container .title {
  text-transform: none;
  font-weight: 300;
}

.description-container h1 {
  font-size: 1.8vw;
  font-weight: 300;
  width: 70%;
  text-transform: none;
  letter-spacing: 2px;
  padding-top: 0;
}

.description-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .description-container h1 {
    padding: 1rem;
    padding-bottom: 55px;
    width: 100%;
    font-size: 3.2vw;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 560px) {
  .description-container h1 {
    font-size: 5.5vw;
  }
}
