.home__hero-section {
  padding: 220px 0;
}

.home__hero-row {
  align-items: center;
}

.home__hero-text-wrapper {
  display: flex;
  justify-content: center;
}

.heading {
  padding: 60px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: Advent Pro;
  font-size: 3.5rem;
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .heading {
    width: auto;
    font-size: 7.5vw;
  }

  .heading br {
    display: none;
  }
}
