.services-section {
  padding: 220px 0;
  margin-top: 130px;
  background: #bf9b7a;
  padding-top: 50px;
}

.services-section .title {
  color: black;
  font-weight: 600;
}

.services-section .subject {
  color: black;
  font-weight: 900;
  font-size: 35px;
}
.services-section .description {
  color: black;
  font-size: 25px;
}

@media screen and (max-width: 960px) {
  .services-section .description {
    color: black;
    font-size: 30px;
    font-weight: 100;
    max-width: 250px;
    /* border: 1px solid red; */
  }
  .services-section .subject {
    color: black;
    font-weight: 900;
    font-size: 40px;
  }
  .services-section .items {
    display: flex;
    flex-direction: column;
  }
  .subject-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 520px) {
  .services-section .description {
    /* border: 1px solid red; */
    font-size: 25px;
  }
  .services-section .subject {
    /* border: 1px solid red; */
    font-size: 35px;
  }
}
